* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333333;
  background-color: #10454F;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

main {
  margin: 60px auto 0;
  /* background-color: #F5F5F5; */
  background: linear-gradient(to bottom, #A3AB78 82%, #818274 40%);
  max-width: 500px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
 
.title {
  font-size: 50px;
  margin: 0;
  margin-top: -10px;

}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  margin-top: 0.3em;
  /* margin-bottom: 2.5em; */
  text-align: center;
  /* line-height: 1.3; */
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: 2rem;
}

.roll-dice {
  height: 50px;
  width: 160px;
  border: none;
  border-radius: 6px;
  background-color: #506266;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  margin-bottom: 2.5em;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.game-data {
  margin-top: 1.2em;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.game-data p {
  margin: 0;
  width: 150px;
  color: white;
}

.bold {
  font-weight: 700;
  font-size: larger;
}

.reset {
  margin: 0;
  align-self: self-end;
  cursor: pointer;
  color: #ffffff;
  opacity: 0.7;
}